In [3]:
#import the warnings.
import warnings
warnings.filterwarnings('ignore')

In [4]:
#import the useful libraries.
import numpy as np, pandas as pd
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

In [19]:
df = pd.read_csv('Inferential Statistics - Student Loan.csv')
df2 = pd.read_excel('data/Hotstar+Data.xlsx')

In [6]:
df.drop(['Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  object
 3   Probability of Default             10000 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 312.6+ KB

In [8]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00%,0.0070
1,2,0.24,5.10%,0.0033
2,3,0.04,24.86%,0.0022
3,4,13.81,2.29%,0.0066
4,5,19.84,3.47%,0.0020

In [47]:
# 20% * 11.5 = â‚¹2.3 lakh.
# Expected value = 9.2 lakh*P(X = 9.2 lakh) + 0*P(X=0) = 9,20,000*(0.007) + 0*(0.993) = 6,440
df['Recovery'] = df['Recovery (%)'].apply(lambda x: float(x.replace('%', '')))
df['loss'] = (df['Exposure at Default (in lakh Rs.)'] - (df['Exposure at Default (in lakh Rs.)']* df['Recovery']/100) )
df['E_Loss'] = df['loss'] * df['Probability of Default'] * 100000
df['E_Loss'].sum()

49339131.440620005

In [17]:
# skiprows=1, error_bad_lines=False
df2 = pd.read_csv('Inferntial Statistics - UpGrad Samples.csv')
# df2.drop(['Unnamed: 0', 'Unnamed: 4'], axis=1, inplace=True)
df2.head(12)

# df2['Sample Mean'].mean()

    Sample No.  Sample Mean
0            1          3.2
1            2          2.6
2            3          2.8
3            4          2.0
4            5          3.0
5            6          2.8
6            7          2.8
7            8          2.0
8            9          2.6
9           10          2.6
10          11          3.0
11          12          2.0

In [16]:
(234.80-2.348)**2

54033.932304

In [18]:
54033.93/12

4502.8275

In [26]:
df2["Why did you purchase Hotstar Premium?"].describe()

count    121.000000
mean       0.520661
std        0.501650
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Why did you purchase Hotstar Premium?, dtype: float64

In [27]:
len(df2.index)

121

In [37]:
79**16

2301619141096101839813550846721

In [35]:
2301619141096101839813550846721%17

1