In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [174]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# the commonly used alias for seaborn is sns
import seaborn as sns
sns.set_style("whitegrid")
pd.set_option('display.max_columns', 125)
pd.set_option('display.max_rows', 100)

In [176]:
df1 = pd.read_csv('./application_data.csv') # Write your code for importing the csv file here
df2 = pd.read_csv('./previous_application.csv') # Write your code for importing the csv file here

In [177]:
df1.shape

(307511, 122)

In [180]:
# df2.head(20)

In [181]:
df1.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [182]:
# Display all columns with datatypes
df1.info(max_cols=125)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   SK_ID_CURR                    307511 non-null  int64
 1   TARGET                        307511 non-null  int64
 2   NAME_CONTRACT_TYPE            307511 non-null  object
 3   CODE_GENDER                   307511 non-null  object
 4   FLAG_OWN_CAR                  307511 non-null  object
 5   FLAG_OWN_REALTY               307511 non-null  object
 6   CNT_CHILDREN                  307511 non-null  int64
 7   AMT_INCOME_TOTAL              307511 non-null  float64
 8   AMT_CREDIT                    307511 non-null  float64
 9   AMT_ANNUITY                   307499 non-null  float64
 10  AMT_GOODS_PRICE               307233 non-null  float64
 11  NAME_TYPE_SUITE               306219 non-null  object
 12  NAME_INCOME_TYPE              307511 non-null  object
 13  NAME_EDUCATION_TYPE           307511 non-null  object
 14  NAME_FAMILY_STATUS            307511 non-null  object
 15  NAME_HOUSING_TYPE             307511 non-null  object
 16  REGION_POPULATION_RELATIVE    307511 non-null  float64
 17  DAYS_BIRTH                    307511 non-null  int64
 18  DAYS_EMPLOYED                 307511 non-null  int64
 19  DAYS_REGISTRATION             307511 non-null  float64
 20  DAYS_ID_PUBLISH               307511 non-null  int64
 21  OWN_CAR_AGE                   104582 non-null  float64
 22  FLAG_MOBIL                    307511 non-null  int64
 23  FLAG_EMP_PHONE                307511 non-null  int64
 24  FLAG_WORK_PHONE               307511 non-null  int64
 25  FLAG_CONT_MOBILE              307511 non-null  int64
 26  FLAG_PHONE                    307511 non-null  int64
 27  FLAG_EMAIL                    307511 non-null  int64
 28  OCCUPATION_TYPE               211120 non-null  object
 29  CNT_FAM_MEMBERS               307509 non-null  float64
 30  REGION_RATING_CLIENT          307511 non-null  int64
 31  REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 32  WEEKDAY_APPR_PROCESS_START    307511 non-null  object
 33  HOUR_APPR_PROCESS_START       307511 non-null  int64
 34  REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 35  REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 36  LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 37  REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 38  REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 39  LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 40  ORGANIZATION_TYPE             307511 non-null  object
 41  EXT_SOURCE_1                  134133 non-null  float64
 42  EXT_SOURCE_2                  306851 non-null  float64
 43  EXT_SOURCE_3                  246546 non-null  float64
 44  APARTMENTS_AVG                151450 non-null  float64
 45  BASEMENTAREA_AVG              127568 non-null  float64
 46  YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 47  YEARS_BUILD_AVG               103023 non-null  float64
 48  COMMONAREA_AVG                92646 non-null   float64
 49  ELEVATORS_AVG                 143620 non-null  float64
 50  ENTRANCES_AVG                 152683 non-null  float64
 51  FLOORSMAX_AVG                 154491 non-null  float64
 52  FLOORSMIN_AVG                 98869 non-null   float64
 53  LANDAREA_AVG                  124921 non-null  float64
 54  LIVINGAPARTMENTS_AVG          97312 non-null   float64
 55  LIVINGAREA_AVG                153161 non-null  float64
 56  NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 57  NONLIVINGAREA_AVG             137829 non-null  float64
 58  APARTMENTS_MODE               151450 non-null  float64
 59  BASEMENTAREA_MODE             127568 non-null  float64
 60  YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 61  YEARS_BUILD_MODE              103023 non-null  float64
 62  COMMONAREA_MODE               92646 non-null   float64
 63  ELEVATORS_MODE                143620 non-null  float64
 64  ENTRANCES_MODE                152683 non-null  float64
 65  FLOORSMAX_MODE                154491 non-null  float64
 66  FLOORSMIN_MODE                98869 non-null   float64
 67  LANDAREA_MODE                 124921 non-null  float64
 68  LIVINGAPARTMENTS_MODE         97312 non-null   float64
 69  LIVINGAREA_MODE               153161 non-null  float64
 70  NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 71  NONLIVINGAREA_MODE            137829 non-null  float64
 72  APARTMENTS_MEDI               151450 non-null  float64
 73  BASEMENTAREA_MEDI             127568 non-null  float64
 74  YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 75  YEARS_BUILD_MEDI              103023 non-null  float64
 76  COMMONAREA_MEDI               92646 non-null   float64
 77  ELEVATORS_MEDI                143620 non-null  float64
 78  ENTRANCES_MEDI                152683 non-null  float64
 79  FLOORSMAX_MEDI                154491 non-null  float64
 80  FLOORSMIN_MEDI                98869 non-null   float64
 81  LANDAREA_MEDI                 124921 non-null  float64
 82  LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 83  LIVINGAREA_MEDI               153161 non-null  float64
 84  NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 85  NONLIVINGAREA_MEDI            137829 non-null  float64
 86  FONDKAPREMONT_MODE            97216 non-null   object
 87  HOUSETYPE_MODE                153214 non-null  object
 88  TOTALAREA_MODE                159080 non-null  float64
 89  WALLSMATERIAL_MODE            151170 non-null  object
 90  EMERGENCYSTATE_MODE           161756 non-null  object
 91  OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 92  DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 93  OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 94  DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 95  DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 96  FLAG_DOCUMENT_2               307511 non-null  int64
 97  FLAG_DOCUMENT_3               307511 non-null  int64
 98  FLAG_DOCUMENT_4               307511 non-null  int64
 99  FLAG_DOCUMENT_5               307511 non-null  int64
 100 FLAG_DOCUMENT_6               307511 non-null  int64
 101 FLAG_DOCUMENT_7               307511 non-null  int64
 102 FLAG_DOCUMENT_8               307511 non-null  int64
 103 FLAG_DOCUMENT_9               307511 non-null  int64
 104 FLAG_DOCUMENT_10              307511 non-null  int64
 105 FLAG_DOCUMENT_11              307511 non-null  int64
 106 FLAG_DOCUMENT_12              307511 non-null  int64
 107 FLAG_DOCUMENT_13              307511 non-null  int64
 108 FLAG_DOCUMENT_14              307511 non-null  int64
 109 FLAG_DOCUMENT_15              307511 non-null  int64
 110 FLAG_DOCUMENT_16              307511 non-null  int64
 111 FLAG_DOCUMENT_17              307511 non-null  int64
 112 FLAG_DOCUMENT_18              307511 non-null  int64
 113 FLAG_DOCUMENT_19              307511 non-null  int64
 114 FLAG_DOCUMENT_20              307511 non-null  int64
 115 FLAG_DOCUMENT_21              307511 non-null  int64
 116 AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 117 AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 118 AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 119 AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 120 AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 121 AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [183]:
# Remove Columns which are more then 40% of null values
df1 = df1.loc[:, df1.isnull().mean() < .5]
df1.drop(['FLAG_EMAIL','FLAG_PHONE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'], axis=1, inplace=True)

In [184]:
df1.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.262949,0.139376,0.9722,0.0833,0.9722,0.0833,0.9722,0.0833,0.0149,No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,NaN,0.9851,0.2917,0.9851,0.2917,0.9851,0.2917,0.0714,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,1,1,0,1,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,1,1,0,1,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [199]:
# impute Rows
mode_value1 = df1.NAME_TYPE_SUITE.mode()[0]
df1['NAME_TYPE_SUITE'].fillna(mode_value1, inplace=True)

# Remove row
df1 = df1[~np.isnan(df1['EXT_SOURCE_3'])]

# Impute Row
df1['NAME_TYPE_SUITE'].fillna(df1.AMT_GOODS_PRICE.mode()[0], inplace=True)

In [200]:
# Find the null value % of columns
round(df1.isnull().mean() *100, 2)

SK_ID_CURR                       0.00
TARGET                           0.00
NAME_CONTRACT_TYPE               0.00
CODE_GENDER                      0.00
FLAG_OWN_CAR                     0.00
FLAG_OWN_REALTY                  0.00
CNT_CHILDREN                     0.00
AMT_INCOME_TOTAL                 0.00
AMT_CREDIT                       0.00
AMT_ANNUITY                      0.00
AMT_GOODS_PRICE                  0.09
NAME_TYPE_SUITE                  0.00
NAME_INCOME_TYPE                 0.00
NAME_EDUCATION_TYPE              0.00
NAME_FAMILY_STATUS               0.00
NAME_HOUSING_TYPE                0.00
REGION_POPULATION_RELATIVE       0.00
DAYS_BIRTH                       0.00
DAYS_EMPLOYED                    0.00
DAYS_REGISTRATION                0.00
DAYS_ID_PUBLISH                  0.00
FLAG_MOBIL                       0.00
FLAG_EMP_PHONE                   0.00
FLAG_WORK_PHONE                  0.00
FLAG_CONT_MOBILE                 0.00
OCCUPATION_TYPE                 31.35
CNT_FAM_MEMBERS                  0.00
REGION_RATING_CLIENT             0.00
REGION_RATING_CLIENT_W_CITY      0.00
WEEKDAY_APPR_PROCESS_START       0.00
HOUR_APPR_PROCESS_START          0.00
REG_REGION_NOT_LIVE_REGION       0.00
REG_REGION_NOT_WORK_REGION       0.00
LIVE_REGION_NOT_WORK_REGION      0.00
REG_CITY_NOT_LIVE_CITY           0.00
REG_CITY_NOT_WORK_CITY           0.00
LIVE_CITY_NOT_WORK_CITY          0.00
ORGANIZATION_TYPE                0.00
EXT_SOURCE_2                     0.17
EXT_SOURCE_3                     0.00
YEARS_BEGINEXPLUATATION_AVG     48.31
FLOORSMAX_AVG                   49.28
YEARS_BEGINEXPLUATATION_MODE    48.31
FLOORSMAX_MODE                  49.28
YEARS_BEGINEXPLUATATION_MEDI    48.31
FLOORSMAX_MEDI                  49.28
TOTALAREA_MODE                  47.80
EMERGENCYSTATE_MODE             46.93
OBS_30_CNT_SOCIAL_CIRCLE         0.30
DEF_30_CNT_SOCIAL_CIRCLE         0.30
OBS_60_CNT_SOCIAL_CIRCLE         0.30
DEF_60_CNT_SOCIAL_CIRCLE         0.30
DAYS_LAST_PHONE_CHANGE           0.00
FLAG_DOCUMENT_2                  0.00
FLAG_DOCUMENT_3                  0.00
FLAG_DOCUMENT_4                  0.00
FLAG_DOCUMENT_5                  0.00
FLAG_DOCUMENT_6                  0.00
FLAG_DOCUMENT_7                  0.00
FLAG_DOCUMENT_8                  0.00
FLAG_DOCUMENT_9                  0.00
FLAG_DOCUMENT_10                 0.00
FLAG_DOCUMENT_11                 0.00
FLAG_DOCUMENT_12                 0.00
FLAG_DOCUMENT_13                 0.00
FLAG_DOCUMENT_14                 0.00
FLAG_DOCUMENT_15                 0.00
FLAG_DOCUMENT_16                 0.00
FLAG_DOCUMENT_17                 0.00
FLAG_DOCUMENT_18                 0.00
FLAG_DOCUMENT_19                 0.00
FLAG_DOCUMENT_20                 0.00
FLAG_DOCUMENT_21                 0.00
dtype: float64

In [224]:
# change data type
df1.TARGET = df1.TARGET.astype(object)
# print(df1.CNT_CHILDREN.value_counts())
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246546 entries, 0 to 307510
Data columns (total 73 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   SK_ID_CURR                    246546 non-null  int64
 1   TARGET                        246546 non-null  object
 2   NAME_CONTRACT_TYPE            246546 non-null  object
 3   CODE_GENDER                   246546 non-null  object
 4   FLAG_OWN_CAR                  246546 non-null  object
 5   FLAG_OWN_REALTY               246546 non-null  object
 6   CNT_CHILDREN                  246546 non-null  int64
 7   AMT_INCOME_TOTAL              246546 non-null  float64
 8   AMT_CREDIT                    246546 non-null  float64
 9   AMT_ANNUITY                   246535 non-null  float64
 10  AMT_GOODS_PRICE               246336 non-null  float64
 11  NAME_TYPE_SUITE               246546 non-null  object
 12  NAME_INCOME_TYPE              246546 non-null  object
 13  NAME_EDUCATION_TYPE           246546 non-null  object
 14  NAME_FAMILY_STATUS            246546 non-null  object
 15  NAME_HOUSING_TYPE             246546 non-null  object
 16  REGION_POPULATION_RELATIVE    246546 non-null  float64
 17  DAYS_BIRTH                    246546 non-null  int64
 18  DAYS_EMPLOYED                 246546 non-null  int64
 19  DAYS_REGISTRATION             246546 non-null  float64
 20  DAYS_ID_PUBLISH               246546 non-null  int64
 21  FLAG_MOBIL                    246546 non-null  int64
 22  FLAG_EMP_PHONE                246546 non-null  int64
 23  FLAG_WORK_PHONE               246546 non-null  int64
 24  FLAG_CONT_MOBILE              246546 non-null  int64
 25  OCCUPATION_TYPE               169263 non-null  object
 26  CNT_FAM_MEMBERS               246545 non-null  float64
 27  REGION_RATING_CLIENT          246546 non-null  int64
 28  REGION_RATING_CLIENT_W_CITY   246546 non-null  int64
 29  WEEKDAY_APPR_PROCESS_START    246546 non-null  object
 30  HOUR_APPR_PROCESS_START       246546 non-null  int64
 31  REG_REGION_NOT_LIVE_REGION    246546 non-null  int64
 32  REG_REGION_NOT_WORK_REGION    246546 non-null  int64
 33  LIVE_REGION_NOT_WORK_REGION   246546 non-null  int64
 34  REG_CITY_NOT_LIVE_CITY        246546 non-null  int64
 35  REG_CITY_NOT_WORK_CITY        246546 non-null  int64
 36  LIVE_CITY_NOT_WORK_CITY       246546 non-null  int64
 37  ORGANIZATION_TYPE             246546 non-null  object
 38  EXT_SOURCE_2                  246116 non-null  float64
 39  EXT_SOURCE_3                  246546 non-null  float64
 40  YEARS_BEGINEXPLUATATION_AVG   127442 non-null  float64
 41  FLOORSMAX_AVG                 125039 non-null  float64
 42  YEARS_BEGINEXPLUATATION_MODE  127442 non-null  float64
 43  FLOORSMAX_MODE                125039 non-null  float64
 44  YEARS_BEGINEXPLUATATION_MEDI  127442 non-null  float64
 45  FLOORSMAX_MEDI                125039 non-null  float64
 46  TOTALAREA_MODE                128706 non-null  float64
 47  EMERGENCYSTATE_MODE           130849 non-null  object
 48  OBS_30_CNT_SOCIAL_CIRCLE      245797 non-null  float64
 49  DEF_30_CNT_SOCIAL_CIRCLE      245797 non-null  float64
 50  OBS_60_CNT_SOCIAL_CIRCLE      245797 non-null  float64
 51  DEF_60_CNT_SOCIAL_CIRCLE      245797 non-null  float64
 52  DAYS_LAST_PHONE_CHANGE        246546 non-null  float64
 53  FLAG_DOCUMENT_2               246546 non-null  int64
 54  FLAG_DOCUMENT_3               246546 non-null  int64
 55  FLAG_DOCUMENT_4               246546 non-null  int64
 56  FLAG_DOCUMENT_5               246546 non-null  int64
 57  FLAG_DOCUMENT_6               246546 non-null  int64
 58  FLAG_DOCUMENT_7               246546 non-null  int64
 59  FLAG_DOCUMENT_8               246546 non-null  int64
 60  FLAG_DOCUMENT_9               246546 non-null  int64
 61  FLAG_DOCUMENT_10              246546 non-null  int64
 62  FLAG_DOCUMENT_11              246546 non-null  int64
 63  FLAG_DOCUMENT_12              246546 non-null  int64
 64  FLAG_DOCUMENT_13              246546 non-null  int64
 65  FLAG_DOCUMENT_14              246546 non-null  int64
 66  FLAG_DOCUMENT_15              246546 non-null  int64
 67  FLAG_DOCUMENT_16              246546 non-null  int64
 68  FLAG_DOCUMENT_17              246546 non-null  int64
 69  FLAG_DOCUMENT_18              246546 non-null  int64
 70  FLAG_DOCUMENT_19              246546 non-null  int64
 71  FLAG_DOCUMENT_20              246546 non-null  int64
 72  FLAG_DOCUMENT_21              246546 non-null  int64
dtypes: float64(21), int64(38), object(14)
memory usage: 139.2+ MB